
$bodyColor: #5B89B1;

$primaryColor: #26519E;
$wPanelColor: lighten(#447742,10%);
$defMargin: 1%;
$forecastCount: 4;

$sm: "(max-width: 40em)";
// @mixin media(size)

.mod--hand{
  cursor: pointer;
}

.wi--main {
	font-size: 9em;
	// float: left;
	// margin-top: .5em;
	@media #{$sm} {
		font-size: 9em;
	}
}

.wi--lg {
	font-size: 2em;
	text-align: center;
	margin-top: 15%;
	padding-right: 10px;
	@media #{$sm} {
		font-size: 2.7em;
	}
}

.city {
	padding-top: 10%;
	text-align: center;
	font-size: 4em;
	margin: 0;
	color: white;
}

.weather-panel {
	color: black;
	width: 43%;
	height: 350px;
 	opacity: 0.7;
	margin: 3% auto;
	box-shadow: 0.5px 0.5px 2px 2px black;
    &:hover {
    opacity: 1;
  }
	@media #{$sm}{
		width: 100%;
	}

}


.weather-panel__main {
	text-align: center;
	height: 75%;
	width: 100%;
	background-color: #FFF;
	margin: 0;
	display: block;
	transition: .5s;
	&:hover {
	}
}


.weather-panel__main__temp
{
	font-size: 2em;
	text-align: right;
	float: right;
	margin-right: 8px;
	margin-bottom: -40px;
}

.weather-panel__main__sub{
		margin-top: 2em;
	font-size: 2em;
	display: block;


}

.weather-panel__main__sub__temp-max{
	margin-left: 3%;
	float: left;
	color: lighten(red,10%);

}
.weather-panel__main__sub__temp-min{
	margin-right: 3%;
	float: right;
	color: lighten(blue,10%);
}



.weather-panel__add
{
	height: 25%;
	text-align: center;
	&:after{
		both: clear; 
	}
}

.weather-panel__add__unit{
	width: (100%/$forecastCount);
	height: 100%;
	float: left;
	background-color: #fff;
	box-shadow: inset 1px 1px 2px grey;
	transition: .5s ease;
}

body {
	background-color: $bodyColor;
	
}

html,
body {
	height: 100%;
}